.card {
    max-width: 400px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding: 15px;
    color: var(--text-color);
    margin-bottom: 40px;

    .main_info {
        display: flex;
        gap: 10px;

        img {
            border-radius: 10px;
            max-width: 120px;
            height: 120px;
        }

        .text_info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .row {
                display: flex;
                align-items: center;
                gap: 10px;

                .nickname {
                    font-weight: 700;
                    font-size: 24px;
                }

                .level {
                    @mixin green {
                        $color: #20e306;
                        background-color: #1f1f21;
                        color: $color;
                        border: 4px solid $color;
                    }
                    @mixin yellow {
                        $color: #ffca00;
                        background-color: #1f1f21;
                        color: $color;
                        border: 4px solid $color;
                    }
                    @mixin orange {
                        $color: #fc620b;
                        background-color: #1f1f21;
                        color: $color;
                        border: 4px solid $color;
                    }
                    @mixin red {
                        $color: #df1b02;
                        background-color: #1f1f21;
                        color: $color;
                        border: 4px solid $color;
                    }
                    display: flex;
                    font-weight: 700;
                    font-size: 16px;
                    align-items: center;
                    justify-content: center;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: orange;

                    &-1,
                    &-2,
                    &-3 {
                        @include green();
                    }

                    &-4,
                    &-5,
                    &-6,
                    &-7 {
                        @include yellow();
                    }

                    &-8,
                    &-9 {
                        @include orange();
                    }

                    &-10 {
                        @include red();
                    }
                }

                .data {
                    padding: 3px;
                    border-radius: 5px;
                    border: 1px solid lightgrey;

                    span {
                        font-weight: 700;
                    }

                    .recentMatches {
                        display: flex;
                        gap: 3px;
                        font-weight: 700;

                        .lose {
                            color: gray;
                        }

                        .win {
                            color: rgb(0, 184, 0);
                        }
                    }
                }
            }
        }
    }

    .links {
        margin-top: 10px;
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            color: var(--text-color);
            display: flex;
            align-items: center;
            gap: 5px;
            border-radius: 5px;
            padding: 5px;
            border: 1px solid lightgray;
            text-decoration: none;
            transition: 0.2s all ease-in-out;

            &:hover {
                scale: 0.95;
                background-color: darken(#fff, 4%);
            }

            svg {
                max-width: 20px;
                height: 20px;
                fill: var(--text-color);
            }
        }
    }
}
