$mainOrange: #ff5500;
$mainPurple: #838fd2;
$secondaryPurple: #f4f5fb;

$light-theme: (
    background-color: #ffffff,
    text-color: #000000,
);

$dark-theme: (
    background-color: #18191a,
    text-color: #ffffff,
);
