@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    .logo {
        @include textGradient();
        font-size: 46px;
        text-transform: uppercase;
        font-weight: 700;
    }

    svg {
        &:hover {
            animation: spin 0.4s;
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
